.content-dashboard{
    display: flex;
}

.main-active, .main-inactive {
    transition: margin-left .2s;
    padding: 16px;
    display: flex;

    .dashboard-base{
        justify-content: center;
    }
  }

.main-active{
    margin-left: 250px;
    .dashboard-base{
        width: 80vw;
    }

    .dashboard-candidate-base{
        width: 30vw;
    }
}



.dashboard{
    display: flex;
    /* flex-direction: column; */
}

.dashboard-left{
    width: 70vw;
    height: auto;
}

.dashboard-left-top{
    display: flex;
    gap: 10px;
}

.dashboard-right{
    width: 25vw;
    height: auto;
    background-color: red;
}


.dashboard-base{
    width: 90vw;
    height: 86vh;
    display: flex;
    gap: 15px;

}

/*Dashboard compponents*/
.dashboard-card-icon{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon-blue{
    background-color: #DEF4F6;
}

.icon-orange{
    background-color: #FFEEDD;
}

.dashboard-card-base{
    width: 15vw;
    height: 35vh;

    background-color: white;
    border-top: 3px solid var(--border-color);

    justify-content: center;
    align-items: center;
    
    display: flex;
    flex-direction: column;
}

.dashboard-card-icon img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.dashboard-card-count{
    margin: 0%;
    margin-top: 5px;
    font-weight: bold;
}

.dashboard-candidate-base{
    margin: 0%;
    padding: 10px;
    width: 35vw;
    height: 35vh;

    background-color: white;
    border-top: 3px solid var(--border-color);

    overflow-y: scroll;
}

.dashboard-candidate-header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.dashboard-candidate-header select{
    width: 20vw;
    height: 35px;
}

.dashboard-candidate-title{
    padding: 5px 0 5px;
    font-weight: bold;
    font-size: 20px;
}

.dashboard-candidate-card-base{
    height: 3rem;
    width: 10rem;
    /* background-color: blue; */
    border: 2px solid;
    border-color: #C1C4C5;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px;
    
}

.dashbooard-candidate-profile{
    height: 35px;
    width: 35px;
    background-color: gray;
}

.dashboard-candidate-name{
    width: 100px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}