.content-member{
    display: flex;
}

.admin-page-base{
    width: 90vw;
    height: auto;

    background-color: white;
    border-top: 3px solid var(--border-color);
}

.admin-page-title{
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid var(--border-color);
}

.main-inactive {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-active{
    .admin-member-page-base{
        width:81vw;
    }
}

.admin-page-body{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
/* headers */
.admin-page-header{
    display: flex;
    justify-content: space-between;

}

.add-btn {
    display: flex;
    gap: 10px;
}

/*table*/
td {
    word-break: break-word;
  }

.th {
    width: fit-content;
    display: flex;
    
}

.caret-asc, .caret, .caret-desc{
    float: right;
}

.react-bootstrap-table-pagination-total{
    color: black;
}

.react-bootstrap-table-page-btns-ul>.page-item>.page-link{
    color: #7F7F7F;
}